<div class="content">
  <%= form_tag('/tweets', method: :post) do %>
    <h3>投稿する</h3>
    <h5>写真を投稿する</h5>
    <input placeholder="写真を載せる" type="file" name="image" id="upload_form"><br>
    <h5>場所を選択する</h5>
    <input placeholder="お店を記録する" type="text" name="place"><br>
    <textarea cols="30" name="text" placeholder="日本酒の感想を投稿しよう" rows="10"></textarea><br>
    <input type="submit" value="SENT">
  <% end %>
</div>