<div class="content">
  <%= form_tag('/search', method: :search) do %>
    <h3>検索する</h3>
    <input placeholder="お店を記録する" type="text" name="place"><br>
    <input type="submit" value="SENT">
  <% end %>
</div>