
<div class="wrapper">
  <div class="vcard">
    <img src="image/icon.jpeg">
    <div class="name"><li>名前:</li><%= @user.name %></div>
    <div class="nickname"><li>ニックネーム:</li><%= @user.nickname %></div>
    <div class="sake"><li>好きな日本酒:</li><%= @user.sake %></div>
    <div class="introduction"><li>自己紹介:</li><%= @user.introduction %></div>
  </div>